<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Hola a EJS 
      <ul>
        <% for(var i = 0; i < lista.length; i++) {
          %> <li><%= lista[i].Nombre %></li>
        <% } %>
  
  
      </ul>
      
      
   </h1>
  </body>
</html>